{% extends 'Index.html' %}
{% load static %}

{% block content %}

<div class="end">
    <h1 class="label-l">FAQ — Frequently Asked Questions </h1>
    <div class="wrapper-c end">

        <div>
            <h3 class="btn btn-outline-success" data-bs-toggle="collapse" href="#collapse1" role="button"
                aria-expanded="false" aria-controls="collapse1">Требуется ли какая-нибудь плата?</h3>
            <div class="collapse" id="collapse1">
                <div class="card card-body">
                    ReMind — полностью бесплатный проект. Вы можете регистрироваться и оставлять неограниченное количество заметок без какой-либо платы.
                </div>
            </div>
        </div>

        <div>
            <h3 class="btn btn-outline-success" data-bs-toggle="collapse" href="#collapse2" role="button"
                aria-expanded="false" aria-controls="collapse2">Зачем нужен ReMind?</h3>
            <div class="collapse" id="collapse2">
                <div class="card card-body">
                    ReMind позволяет создавать и сохранять безграничное количество заметок различного характера: наброски, мысли, планы и т.д.
                </div>
            </div>
        </div>

        <div>
            <h3 class="btn btn-outline-success" data-bs-toggle="collapse" href="#collapse3" role="button"
                aria-expanded="false" aria-controls="collapse3">О чём можно писать?</h3>
            <div class="collapse" id="collapse3">
                <div class="card card-body">
                    Проект ReMind не распространяет информацию о заметках и пользователях, поэтому можете оставлять любые заметки.
                </div>
            </div>
        </div>

        <div>
            <h3 class="btn btn-outline-success" data-bs-toggle="collapse" href="#collapse4" role="button"
                aria-expanded="false" aria-controls="collapse4">Видят ли мои записи другие пользователи?</h3>
            <div class="collapse" id="collapse4">
                <div class="card card-body">
                    Ваши записи будут привязаны к вышему аккаунту, и читать их сможете лишь вы.
                </div>
            </div>
        </div>

        <div>
            <h3 class="btn btn-outline-success" data-bs-toggle="collapse" href="#collapse5" role="button"
                aria-expanded="false" aria-controls="collapse5">С чего начать?</h3>
            <div class="collapse" id="collapse5">
                <div class="card card-body">
                    Сперва зарегистрируйтесь, чтобы оставлять заметки (см. пункт выше), а затем пройдите в меню "Мой блокнот" и оставляйте заметки.
                </div>
            </div>
        </div>

    </div>
</div>
<script>
	var collapseElementList = [].slice.call(document.querySelectorAll('.collapse'))
	var collapseList = collapseElementList.map(function (collapseEl) {
	return new bootstrap.Collapse(collapseEl)})
</script>


{% endblock %}
