<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title> ReMind! </title>
    <meta charset="UTF-8"/>
    <script src="{% static 'Re.js' %}"></script>
    <link href="{% static 'Re.css' %}" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container-xxl">
    <header>
        <nav class="navbar navbar-light bg">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url '' %}">
                    <h1 class="label"><span class="sb">ReMind</span> <span class="sb"
                                                                           style="animation-delay: 0.5s">— do</span>
                        <span class="sb" style="animation-delay: 0.75s">more and</span> <span class="sb"
                                                                                              style="animation-delay: 1s">save more</span>
                        <span class="sb" style="animation-delay: 1.25s">with us!</span></h1>
                </a>
            </div>
        </nav>
    </header>
    <div class="wrapper end">
        <div style="animation:move; animation-duration: 2s;">
            <h2 class="sb label-l"> О сайте </h2>
            <ul>
                <li class="addit"><a class="clr" href="{% url 'info' %}">Соглашения</a></li>
                <li class="addit"><a class="clr" href="{% url 'info' %}">Задачи</a></li>
                <li class="addit"><a class="clr" href="{% url 'info' %}">Отзывы</a></li>
            </ul>
        </div>
        <div>
            <h2 class="sb label-l">FAQ — Frequently Asked Questions</h2>
            <ol>
                <li class="addit"><a class="clr" href="{% url 'faq' %}"> Требуется ли какая-нибудь плата? </a></li>
                <li class="addit"><a class="clr" href="{% url 'faq' %}"> Зачем нужен ReMind? </a></li>
                <li class="addit"><a class="clr" href="{% url 'faq' %}"> О чём можно писать </a></li>
                <li class="addit"><a class="clr" href="{% url 'faq' %}"> Видят ли мои записи другие пользователи?</a></li>
                <li class="addit"><a class="clr" href="{% url 'faq' %}"> С чего начать? </a></li>
            </ol>
        </div>
        <div>
            {% if not authenticated %}
            <h2 class="sb label-l" align="right" style="margin-right:30px;"> Вход и регистрация </h2>
            <div class="wrapper-c">
                <a type="button" class="btn btn-outline-primary bl" href="{% url 'registration' %}">Регистрация</a>
                <a type="button" class="btn btn-outline-success bl" href="{% url 'login' %}">Вход</a>
            </div>
            {% else %}
            <h2 class="sb label-l" align="right" style="margin-right:30px;"> Аккаунт </h2>
            <div class="wrapper-c w-cc">
                <span align="center" class="login input-group-text"> Логин: {{ username }} </span>
                <a type="button" class="btn btn-outline-primary bl" href="{% url 'notepad' %}">Мой блокнот</a>
                <a type="button" class="btn btn-outline-warning bl" href="{% url 'logout' %}">Выход</a>
            </div>
            {% endif %}
        </div>
    </div>

    {% block content %}
    {% endblock %}

    <hr>
    <div class="end" align="center">
        <p> ReMind </p>
        <p> Приятного пользования </p>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>