{% extends 'Index.html' %}
{% load static %}
{% block content %}

<div class="end">
    <h1 class="label-l">О сайте</h1>
    <div class="wrapper-c end">

        <div>
            <h3 class="btn btn-outline-success" data-bs-toggle="collapse" href="#collapse1" role="button"
                aria-expanded="false" aria-controls="collapse1">Соглашения</h3>
            <div class="collapse" id="collapse1">
                <div class="card card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed scelerisque congue est, sit amet
                    vestibulum est condimentum id. Integer tempus nec diam in faucibus. Integer tellus quam,
                    sollicitudin eu nulla a, eleifend finibus augue. Etiam sit amet lectus imperdiet, tincidunt sapien
                    eget, rutrum quam. Nulla varius est dui, at maximus augue laoreet aliquam. Quisque pharetra ante
                    justo, sed venenatis ipsum placerat semper. Sed et eleifend odio.
                </div>
            </div>
        </div>

        <div>
            <h3 class="btn btn-outline-success" data-bs-toggle="collapse" href="#collapse2" role="button"
                aria-expanded="false" aria-controls="collapse2">Задачи ReMind</h3>
            <div class="collapse" id="collapse2">
                <div class="card card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed scelerisque congue est, sit amet
                    vestibulum est condimentum id. Integer tempus nec diam in faucibus. Integer tellus quam,
                    sollicitudin eu nulla a, eleifend finibus augue. Etiam sit amet lectus imperdiet, tincidunt sapien
                    eget, rutrum quam. Nulla varius est dui, at maximus augue laoreet aliquam. Quisque pharetra ante
                    justo, sed venenatis ipsum placerat semper. Sed et eleifend odio.
                </div>
            </div>
        </div>

        <div>
            <h3 class="btn btn-outline-success" data-bs-toggle="collapse" href="#collapse3" role="button"
                aria-expanded="false" aria-controls="collapse3">Отзывы</h3>
            <div class="collapse" id="collapse3">
                <div class="card card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed scelerisque congue est, sit amet
                    vestibulum est condimentum id. Integer tempus nec diam in faucibus. Integer tellus quam,
                    sollicitudin eu nulla a, eleifend finibus augue. Etiam sit amet lectus imperdiet, tincidunt sapien
                    eget, rutrum quam. Nulla varius est dui, at maximus augue laoreet aliquam. Quisque pharetra ante
                    justo, sed venenatis ipsum placerat semper. Sed et eleifend odio.
                </div>
            </div>
        </div>

    </div>
</div>
<hr>
<div class="end" align="center">
    <p> ReMind </p>
    <p> Приятного пользования </p>
</div>

{% endblock %}