{% extends 'Index.html' %}
{% load static %}
{% block content %}

<div class="end">
    <h1 class="label-l">О сайте</h1>
    <div class="wrapper-c end">

        <div>
            <h3 class="btn btn-outline-success" data-bs-toggle="collapse" href="#collapse1" role="button"
                aria-expanded="false" aria-controls="collapse1">Соглашения</h3>
            <div class="collapse" id="collapse1">
                <div class="card card-body">
                    1. Вы предоставляете на хранение ваши личные данные (e-mail и пароль).
                    2. ReMind не имеет права предоставлять ваши личные данные третьим лицам.
                    3. ReMind не несёт ответственности за написанное вами в заметках.
                    4. При необходимости ReMind может удалить пользователя и его заметки.
                    5. При удалении пользователя <strong>все заметки стираются!</strong>
                </div>
            </div>
        </div>

        <div>
            <h3 class="btn btn-outline-success" data-bs-toggle="collapse" href="#collapse2" role="button"
                aria-expanded="false" aria-controls="collapse2">Задачи ReMind</h3>
            <div class="collapse" id="collapse2">
                <div class="card card-body">
                    1. Дать простой, мобильный и удобный сервис для написания заметок.
                    2. Дать возможнойсть изменять текст под предпочтения пользователя.
                    3. Хранить все заметки в одном сервисе.
                </div>
            </div>
        </div>

        <div>
            <h3 class="btn btn-outline-success" data-bs-toggle="collapse" href="#collapse3" role="button"
                aria-expanded="false" aria-controls="collapse3">Отзывы</h3>
            <div class="collapse" id="collapse3">
                <div class="card card-body">
                    Все отзываются хорошо. Можете не боятся!
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}