{% extends 'Index.html' %}
{% load static %}
{% block content %}


<div class="container-fluid end">
    {% for message in messages %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}

    <form method="POST" class="block-xxl wrapper-c">
        {% csrf_token %}
        <h1 class="label-l"> Вход </h1>
        <div class="contrainer-fluid" align="center" title="Пожалуйста, введите логин и пароль">
            <div class="wrapper-c field">
            <div class="input-group input-group input-group-sm mb-3"><span id="a1" class="login input-group-text"> Логин: </span>
                <input type="text" id="username" name="username" class="form-control" maxlength="20" size="18" align="right"/></div>
            <div class="input-group input-group-sm mb-3"><span id="b1" class="login input-group-text"> Пароль: </span>
                <input type="password" id="password" name="password" class="form-control" maxlength="20" size="18" align="right"/></div>
            <div><button type="submit" class="btn btn-outline-primary bl" title="Отправить!"> Войти!</button> </div>
            <div><a class="btn btn-outline-secondary bl" type="button" href="{% url 'registration' %}"> Регистрация </a></div>
            </div>
        </div>
    </form>
</div>

{% endblock %}
