{% extends 'Index.html' %}
{% load static %}
{% block content %}
<form method="POST" id="frm" class="end" title="Для доступа к заметкам войдите или зарегистрируйтесь!">
    {% csrf_token %}
    <div class="input-group">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Размер
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><input id="f_size" class="form-control dropdown-item" type="number" value="16" min="12" max="98" name="font-size"/></li>
                <li><a onclick="ChangeFontSize()" class="btn dropdown-item">Ок</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Тип
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                    <div class="form-check"> <input value="bold" type="checkbox" id="bold" onclick="ChangeToBold()" class="form-check-input" name="font-type" /> <label class="form-check-label" for="bold">Bold</label></div>
                    <div class="form-check"> <input value="italic" type="checkbox" id="italic" onclick="ChangeToItalic()" class="form-check-input" name="font-type" /> <label class="form-check-label" for="italic"> Italic </label></div>
                </li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Шрифт
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                    <div class="form-check"><input value="Vollkorn" type="radio" id="Vollkorn" onclick="ChangeToVollkorn()" class="form-check-input" name="font-family" checked /> <label for="Vollkorn">Vollkorn </label> </div>
                    <div class="form-check"><input value="Red Hat Mono" type="radio" id="RedHatMono" onclick="ChangeToRedHatMono()" class="form-check-input" name="font-family" /> <label for="RedHatMono"> Red Hat Mono </label> </div>
                    <div class="form-check"><input value="Roboto Slab" type="radio" id="RobotoSlab" onclick="ChangeToRobotoSlab()" class="form-check-input" name="font-family" /> <label for="RobotoSlab"> Roboto Slab </label> </div>
                    <div class="form-check"><input value="Open Sans" type="radio" id="OpenSans" onclick="ChangeToOpenSans()" class="form-check-input" name="font-family" /> <label for="OpenSans"> Open Sans </label> </div>
                </li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Тема
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                    <div class="form-check"><input value="Light" type="radio" id="Light" onclick="ChangeToLight()" class="form-check-input" name="theme" checked/> <label for="Light"> Light </label> </div>
                    <div class="form-check"><input value="Dark" type="radio" id="Dark" onclick="ChangeToDark()" class="form-check-input" name="theme" /> <label for="Dark"> Dark </label> </div>
                    <div class="form-check"><input value="Monokai" type="radio" id=Monokai" onclick="ChangeToMonokai()" class="form-check-input" name="theme" /> <label for="Monokai"> Monokai </label> </div>
                    <div class="form-check"><input value="Chocolate" type="radio" id="Chocolate" onclick="ChangeToChocolate()" class="form-check-input" name="theme" /> <label for="Chocolate"> Chocolate </label> </div>
                </li>
            </ul>
        </div>
        <input name="name" id="NoteHead" type="text" class="f form-control" placeholder="Название заметки..."/>
        <button type="submit" class="f btn btn-success">Сохранить</button>
        <button class="f btn btn-warning" type="reset">Очистить</button>
    </div>
    <textarea name="text" id="NoteText" type="text" class="f form-control" rows="20" placeholder="Ваши мысли..."
              aria-label="Text-area"></textarea>
</form>
<div class="container-fluid cent end">
    <h2 class="btn btn-primary sb border border-1 border-secondary login rounded" data-bs-toggle="collapse"
        href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" align="center">
        Список записей
    </h2>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <ul id="list">
                {% for text in texts %}
                {% if text.user.username == username %}
                <form method="POST" class="addit"> {% csrf_token %} <button type="submit" class="clr"> {{ text.name }} - [changed in {{ text.date_of_recent_change }}] [Created in {{text.date_of_creation}}] </button> </form>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script>
var bd = 0;
var it = 0;

function ChangeFontSize() {
	var size = document.getElementById("f_size").value;
	document.getElementById("NoteText").style.fontSize = size + "px";
}

function ChangeToBold() {
    if (bd===0) {
	document.getElementById("NoteText").style.fontWeight = "bold";
	bd = 1;
	document.getElementById("bold").value = "bold";
	}
	else {
	    document.getElementById("NoteText").style.fontWeight = "normal";
	    bd = 0;
	    document.getElementById("bold").value = "";
	}
}

function ChangeToItalic() {
	if (it===0) {
	document.getElementById("NoteText").style.fontStyle = "italic";
	it = 1;
	document.getElementById("italic").value = "italic";
	}
	else {
	    document.getElementById("NoteText").style.fontStyle = "";
	    it = 0;
	    document.getElementById("italic").value = "";
	}
}

function ChangeToVollkorn() {
    document.getElementById("NoteText").style.fontFamily = 'Vollkorn';
    document.getElementById("Vollkorn").value = "Vollkorn";
    document.getElementById("RedHatMono").value = "";
    document.getElementById("RobotoSlab").value = "";
    document.getElementById("OpenSans").value = "";
}

function ChangeToRedHatMono() {
    document.getElementById("NoteText").style.fontFamily = 'Red Hat Mono';
    document.getElementById("Vollkorn").value = "";
    document.getElementById("RedHatMono").value = "Red Hat Mono";
    document.getElementById("RobotoSlab").value = "";
    document.getElementById("OpenSans").value = "";
}

function ChangeToRobotoSlab() {
    document.getElementById("NoteText").style.fontFamily = 'Roboto Slab';
    document.getElementById("Vollkorn").value = "";
    document.getElementById("RedHatMono").value = "";
    document.getElementById("RobotoSlab").value = "Roboto Slab";
    document.getElementById("OpenSans").value = "";
}

function ChangeToOpenSans() {
    document.getElementById("NoteText").style.fontFamily = 'Open Sans';
    document.getElementById("Vollkorn").value = "";
    document.getElementById("RedHatMono").value = "";
    document.getElementById("RobotoSlab").value = "";
    document.getElementById("OpenSans").value = "Open Sans";
}

function ChangeToLight() {
    document.getElementById("NoteText").style.backgroundColor = "white";
    document.getElementById("NoteHead").style.backgroundColor = "white";
    document.getElementById("NoteText").style.color = "black";
    document.getElementById("NoteHead").style.color = "black";

    document.getElementById("Light").value = "Light";
    document.getElementById("Dark").value = "";
    document.getElementById("Monokai").value = "";
    document.getElementById("Chocolate").value = "";
}

function ChangeToDark() {
    document.getElementById("NoteText").style.backgroundColor = "black";
    document.getElementById("NoteHead").style.backgroundColor = "black";
    document.getElementById("NoteText").style.color = "white";
    document.getElementById("NoteHead").style.color = "white";

    document.getElementById("Light").value = "";
    document.getElementById("Dark").value = "Dark";
    document.getElementById("Monokai").value = "";
    document.getElementById("Chocolate").value = "";
}

function ChangeToMonokai() {
    document.getElementById("NoteText").style.backgroundColor = "black";
    document.getElementById("NoteHead").style.backgroundColor = "black";
    document.getElementById("NoteText").style.color = "red";
    document.getElementById("NoteHead").style.color = "red";

    document.getElementById("Light").value = "";
    document.getElementById("Dark").value = "";
    document.getElementById("Monokai").value = "Monokai";
    document.getElementById("Chocolate").value = "";

}

function ChangeToChocolate() {
    document.getElementById("NoteText").style.backgroundColor = "brown";
    document.getElementById("NoteHead").style.backgroundColor = "brown";
    document.getElementById("NoteText").style.color = "yellow";
    document.getElementById("NoteHead").style.color = "yellow";

    document.getElementById("Light").value = "";
    document.getElementById("Dark").value = "";
    document.getElementById("Monokai").value = "";
    document.getElementById("Chocolate").value = "Chocolate";
}

</script>

{% endblock %}