{% extends 'Index.html' %}
{% load static %}
{% block content %}
{% for message in messages %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
{% endfor %}
<form method="POST" id="frm" class="end">
    {% csrf_token %}
    <div class="input-group">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Размер
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% if req_text %}
                <li><input id="f_size" class="form-control dropdown-item" type="number" value="{{ font_size }}" min="12" max="98" name="font_size"/></li>
                {% else %}
                <li><input id="f_size" class="form-control dropdown-item" type="number" value="16" min="12" max="98" name="font_size"/></li>
                {% endif %}
                <li><a onclick="ChangeFontSize()" class="btn dropdown-item">Ок</a></li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Тип
            </button>
            {% if is_bold and is_italic and req_text %}
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                    <div style="display:none;"> <input value="reg" type="hidden" id="regular" class="form-check-input" name="font_type" checked /> </div>
                    <div class="form-check"> <input value="bold" type="checkbox" id="bold" onclick="ChangeToBold()" class="form-check-input" name="font_type" checked /> <label class="form-check-label" for="bold">Bold</label></div>
                    <div class="form-check"> <input value="italic" type="checkbox" id="italic" onclick="ChangeToItalic()" class="form-check-input" name="font_type" checked /> <label class="form-check-label" for="italic"> Italic </label></div>
                </li>
            </ul>
            {% elif is_bold and not is_italic and req_text %}
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                    <div style="display:none;"> <input value="reg" type="hidden" id="regular" class="form-check-input" name="font_type" checked /> </div>
                    <div class="form-check"> <input value="bold" type="checkbox" id="bold" onclick="ChangeToBold()" class="form-check-input" name="font_type" checked /> <label class="form-check-label" for="bold">Bold</label></div>
                    <div class="form-check"> <input value="italic" type="checkbox" id="italic" onclick="ChangeToItalic()" class="form-check-input" name="font_type" /> <label class="form-check-label" for="italic"> Italic </label></div>
                </li>
            </ul>
            {% elif not is_bold and is_italic and req_text %}
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                    <div style="display:none;"> <input value="reg" type="hidden" id="regular" class="form-check-input" name="font_type" checked /> </div>
                    <div class="form-check"> <input value="bold" type="checkbox" id="bold" onclick="ChangeToBold()" class="form-check-input" name="font_type" /> <label class="form-check-label" for="bold">Bold</label></div>
                    <div class="form-check"> <input value="italic" type="checkbox" id="italic" onclick="ChangeToItalic()" class="form-check-input" name="font_type" checked /> <label class="form-check-label" for="italic"> Italic </label></div>
                </li>
            </ul>
            {% else %}
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                    <div style="display:none;"> <input value="reg" type="hidden" id="regular" class="form-check-input" name="font_type" checked /> </div>
                    <div class="form-check"> <input value="bold" type="checkbox" id="bold" onclick="ChangeToBold()" class="form-check-input" name="font_type" /> <label class="form-check-label" for="bold">Bold</label></div>
                    <div class="form-check"> <input value="italic" type="checkbox" id="italic" onclick="ChangeToItalic()" class="form-check-input" name="font_type" /> <label class="form-check-label" for="italic"> Italic </label></div>
                </li>
            </ul>
            {% endif %}
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Шрифт
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                    <div class="form-check"><input value="Vollkorn" type="radio" id="Vollkorn" onclick="ChangeToVollkorn()" class="form-check-input" name="font_family" {% if text.font_family == 'Vollkorn' and req_text %} checked {% elif not req_text %} checked {% endif %} /> <label for="Vollkorn">Vollkorn </label> </div>
                    <div class="form-check"><input value="Red Hat Mono" type="radio" id="RedHatMono" onclick="ChangeToRedHatMono()" class="form-check-input" name="font_family" {% if text.font_family == 'Red Hat Mono' and req_text %} checked {% endif %} /> <label for="RedHatMono"> Red Hat Mono </label> </div>
                    <div class="form-check"><input value="Roboto Slab" type="radio" id="RobotoSlab" onclick="ChangeToRobotoSlab()" class="form-check-input" name="font_family" {% if text.font_family == 'Roboto Slab' and req_text %} checked {% endif %} /> <label for="RobotoSlab"> Roboto Slab </label> </div>
                    <div class="form-check"><input value="Open Sans" type="radio" id="OpenSans" onclick="ChangeToOpenSans()" class="form-check-input" name="font_family" /> {% if text.font_family == 'Open Sans' and req_text %} checked {% endif %} <label for="OpenSans"> Open Sans </label> </div>
                </li>
            </ul>
        </div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                    data-bs-toggle="dropdown" aria-expanded="false">
                Тема
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                    <div class="form-check"><input value="Light" type="radio" id="Light" onclick="ChangeToLight()" class="form-check-input" name="theme" {% if text.theme_type == 'Light' and req_text %} checked {% elif not req_text %} checked {% endif %}/> <label for="Light"> Light </label> </div>
                    <div class="form-check"><input value="Dark" type="radio" id="Dark" onclick="ChangeToDark()" class="form-check-input" name="theme" {% if text.theme_type == 'Dark' and req_text %} checked {% endif %} /> <label for="Dark"> Dark </label> </div>
                    <div class="form-check"><input value="Monokai" type="radio" id="Monokai" onclick="ChangeToMonokai()" class="form-check-input" name="theme" {% if text.theme_type == 'Monokai' and req_text %} checked {% endif %} /> <label for="Monokai"> Monokai </label> </div>
                    <div class="form-check"><input value="Chocolate" type="radio" id="Chocolate" onclick="ChangeToChocolate()" class="form-check-input" name="theme" {% if text.theme_type == 'Chocolate' and req_text %} checked {% endif %} /> <label for="Chocolate"> Chocolate </label> </div>
                </li>
            </ul>
        </div>
        {% if req_text %}
        <input name="name" id="NoteHead" type="text" class="f form-control" placeholder="Название заметки..." value="{{ text.name }}"/>
        {% else %}
        <input name="name" id="NoteHead" type="text" class="f form-control" placeholder="Название заметки..." value="{{ text.name }}"/>
        {% endif%}
        <button type="submit" class="f btn btn-success">Сохранить</button>
        <button onclick="ChangeToDefault()" class="f btn btn-warning" type="button">Очистить</button>
    </div>
    {% if req_text %}
    <textarea name="text" id="NoteText" type="text" class="f form-control" rows="20" placeholder="Ваши мысли..."
              aria-label="Text-area">{{ text_of }}</textarea>
    {% else %}
    <textarea name="text" id="NoteText" type="text" class="f form-control" rows="20" placeholder="Ваши мысли..."
              aria-label="Text-area"></textarea>
    {% endif %}
</form>
<div class="container-fluid cent end">
    <h2 class="btn btn-primary sb border border-1 border-secondary login rounded" data-bs-toggle="collapse"
        href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" align="center">
        Список записей
    </h2>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <ul id="list">
                {% for t in texts %}
                {% if t.user.username == username %}
                <form method="POST"> {% csrf_token %} <button value="{{ t.name }}" type="submit" class="btn btn-primary bl clr addit" name="txt"> {{ t.name }} </button> <button id="delete" value="{{t.name}}" type="submit" class="btn btn-danger bl clr addit" name="is_deleted">Удалить</button></form>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<script>
var bd = 0;
var it = 0;
window.onload = function() {
    var size = document.getElementById("f_size").value;
    document.getElementById("NoteText").style.fontSize = size + "px";

    if (document.getElementById("bold").checked) {
        document.getElementById("NoteText").style.fontWeight = "bold"
        bd = 1;
    }
    else {
        bd = 0;
    }
    if (document.getElementById("italic").checked) {
        document.getElementById("NoteText").style.fontStyle = "italic";
        it = 1;
    }
    else {
        it = 0;
    }

    for (var i = 0; i < document.getElementsByName("font_family").length; i++) {
        if (document.getElementsByName("font_family")[i].checked) {
            document.getElementById("NoteText").style.fontFamily = document.getElementsByName("font_family")[i].value;
        }
    }

    for (var i = 0; i < document.getElementsByName("theme").length; i++) {
        if (document.getElementsByName("theme")[i].checked) {
            if (document.getElementsByName("theme")[i].value == "Light") {
                document.getElementById("NoteText").style.backgroundColor = "white";
                document.getElementById("NoteHead").style.backgroundColor = "white";
                document.getElementById("NoteText").style.color = "black";
                document.getElementById("NoteHead").style.color = "black";
            }
            if (document.getElementsByName("theme")[i].value == "Dark") {
                document.getElementById("NoteText").style.backgroundColor = "black";
                document.getElementById("NoteHead").style.backgroundColor = "black";
                document.getElementById("NoteText").style.color = "white";
                document.getElementById("NoteHead").style.color = "white";
            }
            if (document.getElementsByName("theme")[i].value == "Monokai") {
                document.getElementById("NoteText").style.backgroundColor = "black";
                document.getElementById("NoteHead").style.backgroundColor = "black";
                document.getElementById("NoteText").style.color = "red";
                document.getElementById("NoteHead").style.color = "red";
            }
            if (document.getElementsByName("theme")[i].value == "Chocolate") {
                document.getElementById("NoteText").style.backgroundColor = "brown";
                document.getElementById("NoteHead").style.backgroundColor = "brown";
                document.getElementById("NoteText").style.color = "yellow";
                document.getElementById("NoteHead").style.color = "yellow";
            }
        }
    }
}

function ChangeFontSize() {
	var size = document.getElementById("f_size").value;
	document.getElementById("NoteText").style.fontSize = size + "px";
}

function ChangeToBold() {
    if (bd===0) {
	document.getElementById("NoteText").style.fontWeight = "bold";
	bd = 1;
	}
	else {
	    document.getElementById("NoteText").style.fontWeight = "normal";
	    bd = 0;
	}
}

function ChangeToItalic() {
	if (it===0) {
	document.getElementById("NoteText").style.fontStyle = "italic";
	it = 1;
	}
	else {
	    document.getElementById("NoteText").style.fontStyle = "";
	    it = 0;
	}
}

function ChangeToVollkorn() {
    document.getElementById("NoteText").style.fontFamily = 'Vollkorn';
}

function ChangeToRedHatMono() {
    document.getElementById("NoteText").style.fontFamily = 'Red Hat Mono';
}

function ChangeToRobotoSlab() {
    document.getElementById("NoteText").style.fontFamily = 'Roboto Slab';
}

function ChangeToOpenSans() {
    document.getElementById("NoteText").style.fontFamily = 'Open Sans';
}

function ChangeToLight() {
    document.getElementById("NoteText").style.backgroundColor = "white";
    document.getElementById("NoteHead").style.backgroundColor = "white";
    document.getElementById("NoteText").style.color = "black";
    document.getElementById("NoteHead").style.color = "black";
}

function ChangeToDark() {
    document.getElementById("NoteText").style.backgroundColor = "black";
    document.getElementById("NoteHead").style.backgroundColor = "black";
    document.getElementById("NoteText").style.color = "white";
    document.getElementById("NoteHead").style.color = "white";
}

function ChangeToMonokai() {
    document.getElementById("NoteText").style.backgroundColor = "black";
    document.getElementById("NoteHead").style.backgroundColor = "black";
    document.getElementById("NoteText").style.color = "red";
    document.getElementById("NoteHead").style.color = "red";
}

function ChangeToChocolate() {
    document.getElementById("NoteText").style.backgroundColor = "brown";
    document.getElementById("NoteHead").style.backgroundColor = "brown";
    document.getElementById("NoteText").style.color = "yellow";
    document.getElementById("NoteHead").style.color = "yellow";
}

function ChangeToDefault() {
    document.getElementById("f_size").value = "16";
    document.getElementById("NoteText").style.fontSize = "16px";

    for (var i = 0; document.getElementsByName("font_type").length; i++) {
        document.getElementsByName("font_type")[i].checked = false;
    }

    for (var i = 0; document.getElementsByName("font_family").length; i++) {
        if (document.getElementsByName("font_family")[i].value == "Vollkorn") {
            document.getElementsByName("font_family")[i].checked = true;
            document.getElementById("NoteText").style.fontFamily = 'Vollkorn';
        }
        else {
        document.getElementsByName("font_family")[i].checked = false;
        }
    }
    for (var i = 0; document.getElementsByName("theme").length; i++) {
        if (document.getElementsByName("theme")[i].id == "Light") {
            document.getElementsByName("theme")[i].checked = true;
            document.getElementById("NoteText").style.backgroundColor = "white";
            document.getElementById("NoteHead").style.backgroundColor = "white";
            document.getElementById("NoteText").style.color = "black";
            document.getElementById("NoteHead").style.color = "black";
        }
        else {
            document.getElementsByName("theme")[i].checked = false;
        }
    }

    document.getElementById("NoteText").style.fontStyle = "";
	it = 0;
	bd = 0;
	document.getElementById("NoteText").style.fontWeight = "normal";


	document.getElementById("NoteText").value = "";
	document.getElementById("NoteHead").value = "";
}


</script>

{% endblock %}